h1 Tic-Tac-Toe

form
    input(type="text", name="1", placeholder="X or O")
    input(type="text", name="2", placeholder="X or O")
    input(type="text", name="3", placeholder="X or O")
form
    input(type="text", name="4", placeholder="X or O")
    input(type="text", name="5", placeholder="X or O")
    input(type="text", name="6", placeholder="X or O")
form
    input(type="text", name="7", placeholder="X or O")
    input(type="text", name="8", placeholder="X or O")
    input(type="text", name="9", placeholder="X or O")
